{{ define "main" }}
<main class="miniresp-main">
  <h1 class="title">{{ .Title }}</h1>
  {{ if .Params.subtitle }}
    <h2 class="subtitle">{{ .Params.subtitle }}</h2>
  {{ end }}
  <article role="main" class="blog-post">
    {{ $current := . }}
    <aside class="aspects">
      <ul>
        {{ range .Page.Parent.Pages }}
          <li{{ if eq $current .}} class="selected"{{ end }}>
            <a href="{{ .Permalink }}">{{ .Params.subtitle | default "Untitled" }}</a>
          </li>
        {{ end }}
        {{ range .Page.Pages }}
          <li{{ if eq $current .}} class="selected"{{ end }}>
            <a href="{{ .Permalink }}">{{ .Params.subtitle | default "Untitled" }}</a>
          </li>
        {{ end }}
      </ul>
    </aside>

    {{ if $.Page.Params.status }}
      <aside class="status">
        Status of this page:<br>
        {{ $.Page.Params.status }}
      </aside>
    {{ end }}
    {{ .Content }}
  </article>
</main>
{{ end }}
