{{/*
This renders the overview aspect of a system.
*/}}

{{ define "main" }}

{{   if .Params.class }}
<main class="{{ .Params.class }}">
{{   else }}
<main>
{{   end }}

 <article>

{{ partial "title-et-al-list.html" . }}

  <aside class="aspects">
   <ul>
    <li class="selected">
     <a href="{{ .Permalink }}">Overview</a>
    </li>
{{ range .CurrentSection.Pages }}
    <li>
     <a href="{{ .Permalink }}">{{ .Params.subtitle | default "Untitled" }}</a>
    </li>
{{ end }}
   </ul>
  </aside>

  <div class="content">
{{ .Content }}
  </div>
 </article>
</main>
{{ end }}
