div.process-model {
    width: 100%;
    margin: 20px;
    padding: 0 20px;
    border: 2px solid #808080;
}
div.process-model div.box {
    margin: 20px;
    padding: 0 10px;
    background: #ffffa0;
    border-radius: 10px;
}

div.process-model > div {
  display: flex;
  justify-content: center;
}

div.process-model div.operations > div {
    width: 50%;
}

div.process-model h4 {
    font-weight: 600;
}

div.process-model ul {
    padding-left: 20px;
}

svg.process-model {
    width: 400px;
    height: 300px;
    margin: 0 auto;
}

svg.process-model rect {
    fill: #f0f0f0;
    stroke: #000000;
}
svg.process-model path {
    fill: #f0f0f0;
    stroke: #808080;
}
svg.process-model text {
    font-size: 32px;
}
