/* constants */

:root {
    --main-font-size: 18px;
    --default-text-color: #404040;

    --default-line-height: 1.5;

    --h1-font-size : calc( var(--main-font-size) * 1.8 );
    --h1-font-weight: 400;
    --title-font-size: calc( var(--main-font-size) * 1.2 );
    --title-font-weight: 700;
    --subtitle-font-size: calc( var(--main-font-size) * 1.2 );

    --footer-font-size: calc( var(--main-font-size) * 0.7 );
    --sidebar-font-size: calc( var(--main-font-size) * 0.7 );
    --small-font-size: calc( var(--main-font-size) * 0.7 );
    --nav-sections-font-size: calc( var(--main-font-size) * 0.8 );
    --pager-font-size: calc( var(--main-font-size) * 0.7 );
    --aspects-font-size: calc( var(--main-font-size) * 0.8 );

    --distraction-color: #808080;
}

/* general elements first */

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    font-size: var( --main-font-size );
    color: var(--default-text-color);
    background: #fff;
}

p {
    line-height: var(--default-line-height);
    margin: 15px auto;
    padding: 0;
}

li {
    line-height: var(--default-line-height);
    margin: 8px 0;
}

h1 {
    font-size: var( --h1-font-size );
    font-weight: var( --h1-font-weight );
    text-align: center;
    line-height: 1.1;
    clear: both;
}
h1 a {
    color: inherit;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 20px 0;
}

a {
  color: #008AFF;
}
a:hover,
a:focus {
  color: #0085a1;
}

blockquote {
  color: #808080;
  font-style: italic;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}

dt {
    margin-top: 15px;
}

input {
  font-size: 18px;
  color: var(--default-text-color);
}

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
::selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #a0a0a0;
    padding: 1ex;
}

/* layout-specific */

main {
    padding-top: 100px;
    min-height: 600px;
}

header > div.container,
footer > div.container,
main {
    max-width: 980px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header a,
header a:hover {
    text-decoration: none;
    color: var(--default-text-color);
}

header div.project {
    font-size: var( --title-font-size );
    font-weight: var( --title-font-weight );
}
header div.avatar {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    margin: 8px 0;
    padding: 4px 0 0 0;
    width: 100px;
    flex-shrink: 0;
}

header.small div.avatar {
    display: none;
}

header div.avatar > div {
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  margin: 0 0 0 calc(50% - 50px);
}

header div.avatar > div img {
  width: 100%;
  border-radius: 50%;
  display: block;
}

header div.container div.project,
header div.container div.nav-tagline {
  width: 40%;
  flex-shrink: 1;
  flex-grow: 1;
}


#page-nav ul {
    margin-top: 6px;
    padding: 0;
    text-align: right;
    font-size: var( --nav-sections-font-size );
    color: var( --distraction-color );
}

footer {
    min-height: calc(var(--main-font-size) * 3 );
    margin: 50px 0 0 0;
    padding: 12px;
    font-size: var(--footer-font-size);
    color: var( --distraction-color );
}

footer p {
   text-align: justify;
   hyphens: auto;
}
footer p.copyright img {
    float: left;
    margin: 0 20px 10px 0;
}

footer ul.social {
    list-style: none;
}
footer ul.social li {
    display: inline-block;
    margin: 0 1ex;
    padding: 0;
}
footer ul.social,
footer p {
    text-align: center;
    margin: 1em auto;
    padding: 0;
}

footer a {
    color: inherit;
}

main.front h1 {
    font-size: 60px;
    font-weight: 500;
    line-height: 1.0;
}
main.front p.subtitle {
    font-size: 30px;
    margin: 12px 0 30px 0;
    font-weight: 300;
    line-height: 1.1;
}


aside.status {
    float: right;
    max-width: 25%;
    padding: 5px 10px;
    margin: 20px 0 20px 20px;
}
span.status {
    padding: 2px 4px;
    margin-left: 20px;
}
aside.status,
span.status {
    font-size: small;
    color: #808080;
    text-align: center;
    border: 1px solid #808080;
    border-radius: 10px;
}

div.gallery figure {
    margin: 6px;
}

h1.title,
p.subtitle {
    text-align: center;
    font-weight: 500;
}
p.subtitle {
    font-size: var(--subtitle-font-size);
}
p.subtitle:before {
    content: "\2014";
    margin-right: 1ex;
}
p.subtitle:after {
    content: "\2014";
    margin-left: 1ex;
}

aside.aspects {
    margin-bottom: 30px;
}

aside.aspects > ul {
    text-align: center;
    margin: 0;
    padding: 0;
}
aside.aspects > ul > li {
    font-size: var(--aspects-font-size);
    display: inline;
    line-break: none;
}

aside.aspects > ul > li:after {
    content: ' \00b7 ';
}
aside.aspects > ul > li:last-of-type:after {
    content: '';
}

.selected {
    font-weight: 600;
}

div.news {
    border: 1px solid #808080;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 40px 0;
}

div.news h3 {
    margin-top: 10px;
}

div.leftright {
    display: flex;
    flex-direction: row;
}
div.leftright div {
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-between;
    width: 50%;
}

div.leftright div {
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-between;
}

div.news-posts {
    max-width: 700px;
    margin: 0 auto;
    padding: 5px 20px 10px 20px;
    background: #f8f8f8;
    border-radius: 10px;
}

p.source.main {
    display: none;
}

nav#breadcrumbnav {
    font-size: var( --small-font-size );
}

div.note {
    border: 1px solid #808080;
    border-radius: 5px;
    padding: 15px 20px;
}

@media screen and (max-width: 700px) {
    div.leftright {
        flex-direction: column;
    }
    div.leftright div {
        justify-content: space-between;
        width: 100%;
    }
}

#groupsio_embed_signup {
    border: 1px solid #808080;
    border-radius: 8px;
    margin: 30px 0;
    padding: 30px;
}
