    <div class="project">
     <a title="{{ .Site.Title }}" href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
    </div>

    <div class="avatar">
     <div>
      <a title="{{ .Site.Title }}" href="{{ "" | absLangURL }}">
       <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" />
      </a>
     </div>
    </div>
