  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />
  <link rel="stylesheet" href="/assets/process-model.css" />
  <link rel="stylesheet" href="/assets/drafting.css" />
  <link rel="stylesheet" href="/assets/bom.css" />
  <link rel="stylesheet" href="/assets/default.css" />
  <link rel="stylesheet" href="/assets/menu.css">
  <link rel="stylesheet" href="/assets/site.css" />
  <link rel="stylesheet" media="print" href="/assets/print.css">

  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="/assets/drafting.js"></script>

  <script>
$(document).on("scroll",function(){
    if($(document).scrollTop() > 100){
        $("header").removeClass("large").addClass("small");
    } else{
        $("header").removeClass("small").addClass("large");
    }
});
  </script>
