<ul>
 <li><a href="/systems/">Systems</a></li>
 <li><a href="/parts/">Parts</a></li>
 <li><a href="/plants/">Plants</a></li>
 <li><a href="/about/">About</a></li>
 <li><a href="/blog/">Blog</a></li>
</ul>
