{{ define "main" }}

{{   if .Params.class }}
<main class="{{ .Params.class }}">
{{   else }}
<main>
{{   end }}

 <section>

{{   partial "title-et-al-main.html" . }}

  <div class="news-posts">
   <p>News:</p>
   <ul class="news-posts">
{{- range ( where site.RegularPages.ByDate.Reverse "Section" "blog"  | first 3 ) }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
{{- end}}
   </ul>
  </div>

  <div class="content">
{{   .Content }}
  </div>

{{   partial "recentchanges.html" . }}
 </section>
</main>
{{ end }}
