svg {
    background: white;
    border: 1px solid #808080;
    padding: 10px;
    margin: 0px;
    display: block;
    width: auto;
    height: auto;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

line.djs-measure-distance {
    stroke: #0000ff;
    stroke-width: 1px;
    fill: #0000ff;
    marker-start: url(#arrow-start);
    marker-end: url(#arrow-end);
}
line.djs-measure-ortho {
    stroke: #0000ff;
    stroke-width: 1px;
    fill: #0000ff;
}
line.djs-measure-radial {
    stroke: #0000ff;
    stroke-width: 1px;
    fill: #0000ff;
    marker-end: url(#arrow-end);
}

line.djs-part-label {
    stroke: #008000;
    stroke-width: 1px;
    fill: #008000;
}

text.djs-measure-label {
    fill: #0000ff;
    font: 24px sans-serif;
}
text.djs-part-label {
    fill: #008000;
    font: 24px sans-serif;
}

line.djs-part,
path.djs-part,
rect.djs-part,
circle.djs-part {
    stroke: #000;
    stroke-width: 2px;
    fill: none;
    /* fill: #f0f0f0;
    fill-opacity: .1; */
}

line.djs-part-hidden,
path.djs-part-hidden,
rect.djs-part-hidden {
    stroke: #000;
    stroke-width: 2px;
    fill: none;
    stroke-dasharray: 10px 10px;
}

line.djs-symmetry {
    stroke: #0000ff;
    stroke-width: 1px;
    stroke-dasharray: 25px 10px 10px 10px;
}
