{{ define "main" }}

{{   if .Params.class }}
<main class="{{ .Params.class }}">
{{   else }}
<main>
{{   end }}

 <section>

{{   partial "title-et-al-main.html" . }}

  <div class="content">
{{   .Content }}

{{   if .Sections }}
  <div class="sections">
{{     partial "range-ul" ( .Sections ) }}
  </div>
{{   else }}
  <div class="pages">
{{     partial "range-ul" ( .Pages ) }}
  </div>
{{   end }}
  </div>

{{   partial "recentchanges.html" . }}
 </section>
</main>
{{ end }}
