<h2 id="bill-of-materials">Bill of materials</h2>

<ul>
 <li>
  <p>Food-safe 3D printing filament</p>
 </li>
</ul>

<h2 id="required-tools">Required tools</h2>

<ul>
 <li>
  <p>3D Printer</p>
 </li>
 <li>
  <p>PC running <a href="http://www.openscad.org/">OpenSCAD</a>.</p>
 </li>
 <li>
  <p>PC running a slicing program suitable for your 3D printer, such as
     <a href="https://slic3r.org/">Slic3r</a>.</p>
 </li>
</ul>

<h2 id="construction">Construction</h2>

<ul>
 <li>
  <p>Download one of the OpenSCAD models, depending on the size and shape you want:</p>
{{ .Inner | markdownify }}
 </li>
 <li>
  <p>Alternatively, if you are familiar with <code>git</code> and have it installed,
     clone the entire Project Springtime website from
     <a href="https://gitlab.com/project-springtime/project-springtime.gitlab.io">here</a>
     and look for the <code>.scad</code> files in <code>{{ .Get 0 }}</code>.</p>
 </li>
 <li>
  <p>In OpenSCAD, open this <code>.scad</code> file you want and and select
     &quot;Design/Render (F6)&quot;.</p>
 </li>
 <li>
  <p>In OpenSCAD, export as STL.</p>
 </li>
 <li>
  <p>In your slicer, place the previously exported STL file.</p>
 </li>
 <li>
  <p>In your slicer, you can probably use default parameters for your printer.
     (You know your printer better than we do.)</p>
 </li>
 <li>
  <p>In your slicer, export the G-Code and print the G-Code with your 3D printer.</p>
 </li>
</ul>

